* {
	box-sizing: border-box;
	margin: 0;
}
html,
body {
	width: 100vw;
}
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: sans-serif;
	padding: 1rem;
}

header,
main,
footer {
	margin: 0.5rem 0;
}
main {
	overflow-y: scroll;
	flex: 1;
}

.chat {
	border: 1px solid #ccc;
	scroll-behavior: smooth;

	div {
		max-width: 100%;
		white-space: pre-wrap;
		font-family: monospace;
		padding: 0.5rem 1rem;
		border-top: 1px solid #ccc;
	}

	.user {
		background-color: #eee;
	}
	.server {
		background-color: #ddd;
	}

	span {
		display: inline-block;
		padding: 0 0.5rem 0 0;
		font-weight: bold;
	}
	span::after {
		content: ":";
	}
}
.chat div:first-child {
	border-top: none;
}

form {
	display: flex;
	flex-direction: row;
}
input,
button {
	padding: 1em;
	border-width: 1px;
}

input {
	flex: 1;
	border-width: 1px 0 1px 1px;
}
